body {
  /* background-color: rgba(19, 177, 129, 0.945); */
  background-image: linear-gradient(to right, #48C9B0 ,#E8F8F5);
  /* text-align: center; */
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registration_form {
  background-color: white;
  border: 1px solid #9e9e9e94;
  border-radius: 5px;
}
input {
  padding: 9px 105px 9px 10px;
  border-radius: 7px;
  margin: 5px;
  outline: none;
}
input:hover {
  border-color: rgba(134, 226, 198, 0.945);
  box-shadow: 0px 0px 12px rgba(134, 226, 198, 0.945);
}
.btn1 {
  background-color: rgba(134, 226, 198, 0.945);
  margin-top: 5%;
  font-size: 15px;
  padding: 7px 56px;
  color: rgb(29, 87, 34);
  border-radius: 7px;
}
.btn1:hover {
  background-color: white;
  color: rgba(28, 146, 111, 0.945);
  box-shadow: 0px 0px 12px;
  cursor: pointer;
}
.btn2 {
  background-color: rgba(134, 226, 198, 0.945);
  margin: 5px;
  font-size: 15px;
  padding: 7px 56px;
  margin-left: 50px;
  color: rgb(29, 87, 34);
  border-radius: 7px;
}

.btn2:hover {
  background-color: white;
  color: rgba(28, 146, 111, 0.945);
  box-shadow: 0px 0px 12px;
  cursor: pointer;
}
.btns{
  display: flex;
  justify-content: space-between;
  margin:10px 420px 25px;
}

.success {
  color: green;
  margin-bottom: 2px;
  text-align: center;
}


#success {
  padding: 2px;
}

/* Display Schools CSS*/
table,
th,
td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}

.Table {
  width: 100%;
}
th {
  color: black;
}
.rows {
  border: 1px solid black;
}
td {
  width: 80px;
  /* width: 100%; */
}
#sno {
  margin-left: 10px;
}
.icon {  
  cursor: pointer;
  float: right;
  margin: 10px;
}
.field-group2{
  display: flex;
  
  flex-wrap: wrap;
  padding: 0 15px;
  
}
.fields{
  width: 25%;
  padding-bottom: 10px;
}

/* .field-group{
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
} */


