
.header {
  text-align: center;
  font-size: 24px;
  color: rgba(19, 177, 129, 0.945);
}
.sub-header {
  font-size: 20px;
  color: rgba(19, 177, 129, 0.945);
  padding: 20px;
  padding-bottom: 0px;
}
.subdivision {
  display: flex;
  flex: inline;
  width: 100%;
  height: 100%;
}
.information {
  padding: 6px 10px 6px 10px;
  border-radius: 7px;
  margin: 5px;
  outline: none;
  width: 80%;
}
.button1 {
  background-color: rgba(134, 226, 198, 0.945);
  font-size: 15px;
  padding: 5px 41px;
  color: rgb(29, 87, 34);
  border-radius: 7px;
}
.button1:hover {
  background-color: white;
  color: rgba(28, 146, 111, 0.945);
  box-shadow: 0px 0px 12px;
  border-radius: 2px;
  cursor: pointer;
}
.button2 {
  background-color: rgba(134, 226, 198, 0.945);
  font-size: 15px;
  padding: 6.5px 71px;
  color: rgb(29, 87, 34);
  border-radius: 7px;
}
.buttons{
  display: flex;
  justify-content: space-between;
  margin: 10px 290px 25px;
}

.button2:hover {
  background-color: white;
  color: rgba(28, 156, 111, 0.945);
  border-radius: 5px;
  box-shadow: 0px 0px 12px;
  cursor: pointer;
}
.success {
  color: green;
  margin-bottom: 2px;
  text-align: center;
}
.error_msg {
  color: red;
  text-align: left;
  margin-left: 5px;
  margin-top: -5px;
  margin-bottom: 0px;
  font-size: 14px;
}
#DoB {
  /* padding: 6px 37px 6px 10px; */
  border-radius: 7px;
  margin: 5px;
  outline: none;
}
#opt {
  padding: 6px 130px 6px 10px;
  border-radius: 7px;
  margin: 5px;
  outline: none;
}
.field-group{
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}
.field{
  width: 25%;
  padding-bottom: 10px;
}
